{% extends 'layout.html' %}

{% block head %}

<style type="text/css">
	h1 {
		text-align: center;
	}
	.myclass {
		font-weight: normal;
	}
</style>

{% endblock %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-4">Instructions</h1>
  <div class="lead alert alert-primary myclass" role="alert">
	  Read the information carefully before starting the test.
  </div>
  <p class="lead myclass">
  </p>
  <hr class="my-4">
  <p>1. After selecting the correct option, click on submit button to proceed to the next question.</p>
  <p>2. You can also bookmark the question to review it later.</p>
  <p>3. Start the test !</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/give-test" role="button">Start test</a>
  </p>
</div>

{% endblock %}